.site-footer {
	padding: 4rem 0;
    margin-top: 0rem;
	background-color: #181832;

}

.site-footer a {
  color: #ffffff;
  font-weight: 400;
}
.site-footer a:hover {
  text-decoration: none;
  color: #bab6c5;
}
